NodeRed/OMG_Govee.json
[{"id":"67112321887085cf","type":"mqtt in","z":"da703f64c771c679","name":"","topic":"OMGhome/OMG_ESP32_BLE/BTtoMQTT/A4C1385AFC5D","qos":"1","datatype":"auto-detect","broker":"5658d9f121988d23","nl":false,"rap":true,"rh":0,"inputs":0,"x":252,"y":966,"wires":[["c9860f8023b648b7","163fe02c763ba1ed"]]},{"id":"163fe02c763ba1ed","type":"debug","z":"da703f64c771c679","name":"Basement Govee","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":601,"y":903,"wires":[]},{"id":"b9b5fd50b72b18b5","type":"switch","z":"da703f64c771c679","name":"payload.tempf/hum","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"tempf","vt":"str"},{"t":"cont","v":"hum","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":892,"y":966,"wires":[["f4823c66afc7904d","076b6212aed6d6de"],["b116fe903f7746be","7e6d341768bf072a"]]},{"id":"f4823c66afc7904d","type":"debug","z":"da703f64c771c679","name":"Basement - Temp_F ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1102,"y":906,"wires":[]},{"id":"c9860f8023b648b7","type":"split","z":"da703f64c771c679","name":"Split into individual messages","splt":"\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"topic","property":"payload","x":632,"y":966,"wires":[["b9b5fd50b72b18b5"]]},{"id":"076b6212aed6d6de","type":"link out","z":"da703f64c771c679","name":"Lab - Temp_F II","mode":"link","links":[],"x":1077,"y":946,"wires":[]},{"id":"b116fe903f7746be","type":"debug","z":"da703f64c771c679","name":"Basement - Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1102,"y":1026,"wires":[]},{"id":"7e6d341768bf072a","type":"link out","z":"da703f64c771c679","name":"Lab - Humidity II","mode":"link","links":[],"x":1077,"y":986,"wires":[]},{"id":"5658d9f121988d23","type":"mqtt-broker","name":"HomePi - MQTT","broker":"10.0.1.111","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]
